id ICON "madgui.ico"

// https://docs.microsoft.com/en-us/windows/desktop/menurc/versioninfo-resource
1 VERSIONINFO
FILEVERSION     19,1,0,0
PRODUCTVERSION  19,1,0,0
BEGIN
    // https://docs.microsoft.com/en-us/windows/desktop/menurc/stringfileinfo-block
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"                    // US English
        BEGIN
            VALUE "CompanyName",            "Heidelberg Ion Beam Therapy Center"
            VALUE "FileDescription",        "MAD-X GUI"
            VALUE "FileVersion",            "19.1.0"
            VALUE "InternalName",           "madgui"
            VALUE "LegalCopyright",         "HIT GmbH"
            VALUE "OriginalFilename",       "madgui.exe"
            VALUE "ProductName",            "madgui"
            VALUE "ProductVersion",         "19.1.0"
        END
    END
    // https://docs.microsoft.com/en-us/windows/desktop/menurc/varfileinfo-block
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252    // US English
    END
END
